<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->
<header class="header bg-primary">
  <div class="container-ms-fluid header-inner">
    <img
      class="logo"
      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
      alt="logo"
    />
    <ul class="nav-list">
      <li class="nav-item"><a href="">系列鏡框</a></li>
      <li class="nav-item"><a href="./stories.html">門市據點</a></li>
      <li class="nav-item"><a href="#">部落格</a></li>
      <li class="nav-item"><a href="#">常見問題</a></li>
    </ul>
  </div>
</header>
