<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px" alt="cat" /> -->

    <section class="banner">
      <div class="container banner-inner">
        <p class="subtitle">Promise-Desert 2020 早春系列</p>
        <h1 class="title">看的清，才能看得遠</h1>
        <button class="btn btn-primary buy">立即購買</button>
      </div>
    </section>

    <section class="feature bg-secondary">
      <div class="container feature-inner">
        <h2 class="title">用專業的心，做專業的事</h2>
        <ul class="card-list">
          <li class="card-item">
            <img
              class="icon paid"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
              alt="paid"
            />
            <h3 class="subject">單一價格</h3>
            <p class="desc">
              無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
            </p>
          </li>
          <li class="card-item">
            <img
              class="icon schedule"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
              alt="schedule"
              schedule
            />
            <h3 class="subject">20 分鐘即可取件</h3>
            <p class="desc">
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="card-item">
            <img
              class="icon favorite"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
              alt="favorite"
            />
            <h3 class="subject">安心售後服務</h3>
            <p class="desc">
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="card-item">
            <!-- <span class="material-icons-outlined"></span> -->
            <img
              class="icon glasses"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true"
              alt="glasses"
            />
            <h3 class="subject">關於鏡片</h3>
            <p class="desc">
              使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="classic">
      <div class="container classic-inner">
        <h2 class="title">經典系列鏡框</h2>
        <ul class="card-list">
          <li class="card-item">
            <img
              class="pic optical"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
              alt="optical"
            />
            <h3 class="subject">optical</h3>
          </li>
          <li>
            <img
              class="pic sunglasses"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
              alt="sunglasses"
            />
            <h3 class="subject">sunglasses</h3>
          </li>
          <li>
            <img
              class="pic functional"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
              alt="functional"
            />
            <h3 class="subject">functional</h3>
          </li>
        </ul>
      </div>
    </section>

    <section class="cobrand content-padding">
      <div class="container cobrand-inner">
        <h2 class="title">聯名設計鏡框</h2>
        <ul class="cobrand-list">
          <li class="card">
            <div class="card-img card-img-double"></div>
            <h4 class="subject">DOUBLE A+</h4>
          </li>
          <li class="card">
            <div class="card-img card-img-youth"></div>
            <h4 class="subject">YOUTH</h4>
          </li>
        </ul>
      </div>
    </section>

    <section class="recommend">
      <div class="container recommend-inner">
        <h2 class="title">顧客推薦</h2>
        <ul class="card-list">
          <li class="card-item">
            <div class="wrapper">
              <img
                class="pic"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
                alt="jessy"
              />
              <div class="context">
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                <small class="date">2021/06/20</small>
              </div>
            </div>
          </li>
          <li class="card-item">
            <div class="wrapper">
              <img
                class="pic"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
                alt="karren"
              />
              <div class="context">
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <small class="date">2021/04/18</small>
              </div>
            </div>
          </li>
          <li class="card-item">
            <div class="wrapper">
              <img
                class="pic"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
                alt="yuyu"
              />
              <div class="context">
                <p>悠悠</p>
                <p>
                  謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                </p>
                <small class="date">2020/12/25</small>
              </div>
            </div>
          </li>
          <li class="card-item">
            <div class="wrapper">
              <img
                class="pic"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
                alt="kyuan"
              />
              <div class="context">
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                <small class="date">2020/10/31</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="contract bg-secondary">
      <div class="container contract-inner">
        <div class="wrapper">
          <h2 class="title">聯絡我們</h2>
          <p class="fs-5 desc">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form action="">
            <div class="row">
              <lable>姓名</lable><br />
              <input type="text" name="name" id="name" placeholder="陳小明" />
            </div>

            <div class="row">
              <lable>聯絡電話</lable><br />
              <input
                type="tel"
                name="tel"
                id="tel"
                placeholder="0912-345-678"
              />
            </div>
            <div class="row">
              <lable>電子郵件</lable><br />
              <input
                type="email"
                name="email"
                id="email"
                placeholder="example@email.com"
              />
            </div>
            <div class="row">
              <lable>意見反應</lable><br />
              <textarea
                type="text"
                name="feedback"
                id="feedback"
                placeholder="請輸入您的意見"
              ></textarea>
            </div>
            <div class="row">
              <input type="checkbox" name="agree" id="agree" /><label
                for="agree"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>
            <div class="contract-footer">
              <button class="btn btn-primary submit" type="submit">
                確認送出
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
