<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stories</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="stories">
      <div class="container stories-inner">
        <h1 class="page-title">門市據點</h1>
        <label class="selector-text" for="city">選擇地區</label>
        <select class="selector" name="city" id="city">
          <option value="taipei">台北市</option>
        </select>
        <ul class="card-list">
          <li class="card">
            <img
              class="card-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
              alt=""
            />
            <div class="wrapper">
              <div class="name content-padding"><h4>台北中山旗艦店</h4></div>
              <div class="content content-padding">
                <div class="icon-list">
                  <ul>
                    <li>
                      <span class="material-icons-outlined">call</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">schedule</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">location_on</span>
                    </li>
                  </ul>
                </div>
                <div class="context">
                  <ul>
                    <li><span>電話：(02)000-1234</span></li>
                    <li><span>營業時間：10:00-21:00</span></li>
                    <li><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                  </ul>
                </div>
              </div>
              <button type="button" class="info">詳細資訊</button>
            </div>
          </li>
          <li class="card">
            <img
              class="card-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
              alt=""
            />
            <div class="wrapper">
              <div class="name content-padding"><h4>台北綠園店</h4></div>
              <div class="content content-padding">
                <div class="icon-list">
                  <ul>
                    <li>
                      <span class="material-icons-outlined">call</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">schedule</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">location_on</span>
                    </li>
                  </ul>
                </div>
                <div class="context">
                  <ul>
                    <li><span>電話：(02)000-1234</span></li>
                    <li><span>營業時間：10:00-21:00</span></li>
                    <li><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                  </ul>
                </div>
              </div>
              <button type="button" class="info">詳細資訊</button>
            </div>
          </li>
          <li class="card">
            <img
              class="card-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
              alt=""
            />
            <div class="wrapper">
              <div class="name content-padding"><h4>台中清水旗艦店</h4></div>
              <div class="content content-padding">
                <div class="icon-list">
                  <ul>
                    <li>
                      <span class="material-icons-outlined">call</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">schedule</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">location_on</span>
                    </li>
                  </ul>
                </div>
                <div class="context">
                  <ul>
                    <li><span>電話：(02)000-1234</span></li>
                    <li><span>營業時間：10:00-21:00</span></li>
                    <li><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                  </ul>
                </div>
              </div>
              <button type="button" class="info">詳細資訊</button>
            </div>
          </li>
          <li class="card">
            <img
              class="card-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
              alt=""
            />
            <div class="wrapper">
              <div class="name content-padding"><h4>高雄中正形象店</h4></div>
              <div class="content content-padding">
                <div class="icon-list">
                  <ul>
                    <li>
                      <span class="material-icons-outlined">call</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">schedule</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">location_on</span>
                    </li>
                  </ul>
                </div>
                <div class="context">
                  <ul>
                    <li><span>電話：(02)000-1234</span></li>
                    <li><span>營業時間：10:00-21:00</span></li>
                    <li><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                  </ul>
                </div>
              </div>
              <button type="button" class="info">詳細資訊</button>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
              alt=""
            />
            <div class="wrapper">
              <div class="name content-padding"><h4>高雄夢時代店</h4></div>
              <div class="content content-padding">
                <div class="icon-list">
                  <ul>
                    <li>
                      <span class="material-icons-outlined">call</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">schedule</span>
                    </li>
                    <li>
                      <span class="material-icons-outlined">location_on</span>
                    </li>
                  </ul>
                </div>
                <div class="context">
                  <ul>
                    <li><span>電話：(02)000-1234</span></li>
                    <li><span>營業時間：10:00-21:00</span></li>
                    <li><span>地址：台北市中山區南京東路25巷2-1號</span></li>
                  </ul>
                </div>
              </div>
              <button type="button" class="info">詳細資訊</button>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
